body {
    margin: 0;
}
header {
    height: 80px;
    width: 100%;
    background-color: rgba(253, 128, 0, 0.9);
    position : fixed;
    top : 0;
    z-index : 10;
}
.header-logo h1 {
    padding-left: 30px;
    color: white;
    float: left;
}
.header-logo img {
    width: 60px;
    margin:10px;
    float: left;
}
.header-menu {
    float: right;
    padding-right: 30px;
    padding-top: 30px;
}
.header-menu a {
    margin: 15px;
    color: white;
    text-decoration: none;
}*/
.main {
    height: 720px;
    width: 100%;
    background-color: #FFC181;
}
.buffer {
    height: 60px;
    width: 100%;
}
.container {
    margin: 10px 24px;
    border-radius: 16px;
    padding: 10px 24px; 
    background-color: rgba(233, 142, 52, 0.7);   
}
footer {
    height: 80px;
    width: 100%;
    background-color: grey;
}